<%- include('partials/header'); -%>

  <header>
    <div class="headings">
      <h2>Panda's Learning</h2>
      <h3>Aim</h3>
      <p>We can think of learning aims as concise descriptions of the overall goals or purposes of a piece of learning
        (a programme, a module or even an individual lecture or seminar). They are like 'mission statements' that
        encapsulate the scope and values of the offering.</p>
    </div>
    <div class="icon">
      <img class="panda" src="./panda.png" alt="">
    </div>
  </header>


  <%- include('partials/footer'); -%>