<%- include('partials/header'); -%>


    <header>
        <nav class="nav1">
            <ul><a href="/profile">Profile</a></ul>&nbsp; &nbsp;
            <ul><a href="/task">TaskManager</a></ul>
        </nav>
        <h2 class="h">My Dashboard</h2>

    </header>

    <ul class="courses">
        <li class="course">
            <iframe width="345" height="205" src="https://www.youtube.com/embed/zb3Qk8SG5Ms"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>Node JS Crash Course</h4>
            <p>Study complete nodejs for Webd Development </p>
        </li>
        <li class="course">
            <iframe width="350" height="205" src="https://www.youtube.com/embed/rZ41y93P2Qo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>DSA Bootcamp</h4>
            <p>Complete DSA Java Course</p>
        </li>
        <li class="course">
            <iframe width="350" height="205" src="https://www.youtube.com/embed/1gDhl4leEzA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>Flutter</h4>
            <p> Flutter Course </p>
        </li>
        <li class="course">
            <iframe width="350" height="205" src="https://www.youtube.com/embed/JMUxmLyrhSk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>Artificial Intelligence Course</h4>
            <p>AI Course For Beginners | Edureka </p>
        </li>
        <li class="course">
            <iframe width="350" height="205" src="https://www.youtube.com/embed/-ETQ97mXXF0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>Data Science </h4>
            <p>Data Science Full Course </p>
        </li>
        <li class="course">
            <iframe width="350" height="205" src="https://www.youtube.com/embed/M576WGiDBdQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4>Solidity | SmartContracts</h4>
            <p>Solidity, Blockchain, and Smart Contract Course | freeCodeCamp</p>
        </li>
    </ul>

    <%- include('partials/footer'); -%>